<div class="container">
    <div class="main">
        <div class="upperMain">
            <div class="downloaderInput">
                <h1> Demo Testing For {{ytType == 'videos' ? 'Video' : ytType == 'thumbnails' ? 'Thumbnail' : 'Audio'}} </h1>
                <div class="inputDiv">
                    <input type="url" placeholder="Enter URL to download {{ytType == 'videos' ? 'Video' : ytType == 'thumbnails' ? 'Thumbnail' : 'Audio'}}"/>
                    <button class="downloadBtn"> Download </button>
                </div>
                <h5>By using our service you are accepting our <a routerLink="/"> terms of service. </a></h5>
            </div>
        </div>
    </div>

    <div class="imagesDiv" *ngFor="let img of allThumbnails">
        <img [src]="img.url" alt="Thumbnail" (click)="downloadData(img.url,'thumbnails')">
    </div>

    <div class="imagesDiv" *ngFor="let video of allVideos">
        <video width="320" height="240" controls (click)="downloadData(video.url,'thumbnails')">
            <source [src]="video.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
    </div>

    <div class="info-part">
        <div class="info-part-title">
            <h1>Y2Mate: Best Youtube to MP3 Downloader</h1>
        </div>
        <div class="info-part-description">
            <p>
                Y2Mate is the most accessible and free youtube mp3 converter to convert and download youtube videos to MP3 format in the best available quality.
                Using our online YT to MP3 converter lets you quickly convert and download your favorite videos to audio files without installing any application.
                It works for all browsers like Firefox, Chrome, Safari, Opera, etc.
                Y2Mate is the ultimate online tool for converting youtube videos to MP3 files for Android, iPhone, iPad, MAC, and Windows devices.
                Y2Mate will support converting youtube videos to MP3 audio with a bitrate of up to 320kbps.
                You can convert unlimited youtube videos without registration.
                Our online converter tool is free and safe for your downloads.
            </p>
        </div>
    </div>

    <div class="how-why-div">
        <div class="leftHow">
            <h4> How to Download Youtube videos with Y2Mate? </h4>
            <ul>
                <ol>

                    <li type="1">Open Youtube and copy the video URL you want to download.</li>
                    <li type="1">Open Youtube and copy the video URL you want to download.</li>
                    <li type="1">Open Youtube and copy the video URL you want to download.</li>
                    <li type="1">Open Youtube and copy the video URL you want to download.</li>
                    <li type="1">Open Youtube and copy the video URL you want to download.</li>
                </ol>
            </ul>
        </div>
        <div class="rightHow">
            <h4> How to Download Youtube videos with Y2Mate? </h4>
            <ul>
                <li type="1">Open Youtube and copy the video URL you want to download.</li>
                <li type="1">Open Youtube and copy the video URL you want to download.</li>
                <li type="1">Open Youtube and copy the video URL you want to download.</li>
                <li type="1">Open Youtube and copy the video URL you want to download.</li>
                <li type="1">Open Youtube and copy the video URL you want to download.</li>
            </ul>
        </div>
    </div>

    <div class="bottom-part">
        <div class="upperView">
            <div class="conversions">
                <h1>ICON</h1>
                <h4>Unlimited Conversions</h4>
                <p>We offers unlimited conversions of youtube videos to mp3 and mp4.</p>
            </div>
            <div class="conversions">
                <h1>ICON</h1>
                <h4>Auto Fetch from Youtube</h4>
                <p>We automatically fetch data from Youtube, you just have to copy and paste the youtube URL.</p>
            </div>
            <div class="conversions">
                <h1>ICON</h1>
                <h4>No Registration Required</h4>
                <p>You don't need to register to convert and download youtube videos to mp4 and mp3 format.</p>
            </div>
        </div>

        <div class="upperView">
            <div class="conversions">
                <h1>ICON</h1>
                <h4>Faster Video Conversion</h4>
                <p>We use the latest technologies for encoding system, so you don't have to wait much for the conversion.</p>
            </div>
            <div class="conversions">
                <h1>ICON</h1>
                <h4>Browser Compatibility</h4>
                <p>Our web app is fully compatible with the latest browsers like Chrome, Firefox, Safari, Microsoft Edge, etc.</p>
            </div>
            <div class="conversions">
                <h1>ICON</h1>
                <h4>Completely Mobile friendly</h4>
                <p>Our site can be used on any device to download your favorite youtube videos to mp4 and mp3.</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>