.mainDiv{
background-color: aliceblue;
}

.main {
    display: flex;
    justify-content: center;
}

.upperMain {
    width: 80%;
    position: relative;
    margin-top: 50px;
  height: 400px;
  border: 2px solid #dd8f8f;
  border-radius: 10px;
}

.downloaderInput {
    // background-color: cadetblue;
    width: 100%;
    height: 300px;
    text-align: center;
    // border: 2px solid black;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.inputDiv {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    min-width: 550px;
    height: 45px;
    border: 1px solid #dd8f8f;
    border-radius: 10px;
    padding: 30px 20px;
    margin-right: 40px;
}

.downloadBtn {
    background-color: rgb(198, 83, 83);
    color: aliceblue;
    width: 125px;
    height: 50px;
    border-radius: 15px;
    border-color: transparent;
}

.imagesDiv {
    text-align: center;
    padding: 20px;
}

.info-part-title { 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
        color: #dd8f8f;
    }
}

.how-why-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.upperView {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conversions {
    justify-content: center;
    text-align: center;
}